<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<div id="wrapper">
    <!-- Навигация -->
    {% include 'navigation.html' %}
    <!-- Контент страницы -->
    <div class="container my-3">
        <div class="row">
            <div class="col-md-8">
                {% block content%}{% endblock content %}
            </div>
            {% include "side_navigation.html" %}
        </div>
    </div>
    <!-- Подвал -->
    {% include "footer.html" %}
</div>
<!-- Подключаем Bootstrap JS -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</body>
</html>