{% extends "base.html" %}
{% block title %}
Главная страница
{% endblock title %}
{% block content %}
<h1>Главная</h1>
<hr>
{% for item in news %}
<div class="card mb-3">
    <div class="card-body">
        <!-- Заголовок новости -->
        <h5 class="card-title">{{ item.title }}</h5>
        <!-- Краткое содержание новости (первые 100 символов) -->
        <p class="card-text">{{ item.text|truncate(100) }}</p>
        <!-- Ссылка для чтения полной версии новости -->
        <a href="{{ url_for('news_detail', id=loop.index0) }}" class="btn btn-primary">Читать далее</a>
    </div>
<!--{% include "footer.html" %}-->
</div>
{% endfor %}
{% endblock content %}